@mixin setFontface {
  font-family: 'Myriad Pro';
  src: url(../fonts/MyriadPro-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@mixin setReset {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

@mixin setWrapper ($width, $margin, $padding) {
  width: $width;
  margin: $margin auto;
  padding: $padding;
}

@mixin setFlexbox ($display, $dir, $jus, $align, $wrap) {
  display: $display;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $align;
  flex-wrap: $wrap;
  flex-shrink: 0;
}

@mixin setDimensions ($w, $h, $bradius) {
  width: $w;
  height: $h;
  border-radius: $bradius;
}

@mixin setLinkdecor {
  text-decoration: none;
  transition: .3s;

  &:active {
    text-decoration: none;
  }
}

@mixin setFont ($size, $linehgt, $color) {
  font-size: $size;
  line-height: $linehgt;
  color: $color;
  font-weight: 400;
  ;
}