@import 'mixin';

@font-face {
  @include setFontface;
}

* {
  @include setReset;
}

.container {
  font-family: 'Myriad Pro', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}
